/*page-header classes*/
.page_header {
  height:70vh;
	background-image:url(../images/header-blog.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  white-space: nowrap;
  color: rgb(255, 255, 255);
    }

.bg-block1 {
	background:url(../images/header-index.jpg) repeat left top;
  background-attachment: fixed;
  padding:50px 0 0 30px;
  }
/*banner text and buttons*/
.banner_text_block {
     position: absolute;
     padding: 1% 2%;
     left: 43%;
     top: 20%;
     white-space: nowrap;
     border-radius: 30px;
     background-color: rgba(0, 0, 0, 0.35);
  }
.banner_text_block>h1{
    position: relative;
    font-size: 2.5em;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(15, 140, 255);
    top: -0.2em;
  }
.banner_text_block>h2{
    position: relative;
    font-size:1.5em;
    font-family: "Comic Sans MS", Arial, sans-serif;
    text-shadow: 1px 1px rgb(80, 80, 80);
    top: -0.4em;
    left:5%;
  }
