/*page-header classes*/
.page_header {
  height:70vh;
  background-image:url(../images/header-index.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  white-space: nowrap;
  color: rgb(255, 255, 255);
    }
/*banner text and buttons*/
.banner_text_block {
   position: absolute;
   padding: 1% 2%;
   left: 21%;
   top: 7%;
   white-space: nowrap;
   border-radius: 30px;
   background-color: rgba(255, 255, 255, 0.35);
}
.banner_text_block>h1{
  position: relative;
  font-size: 2.5em;
  font-family: Helvetica, Arial, sans-serif;
  color: rgb(15, 140, 255);
  top: -0.2em;
}
.banner_text_block>h2{
  position: relative;
  font-size:1.5em;
  font-family: "Comic Sans MS", Arial, sans-serif;
  text-shadow: 1px 1px rgb(80, 80, 80);
  top: -0.7em;
  left:17%;
}
.banner_buttons_block {
  position: relative;
  left: 1%;
  top: -0.5em;
  text-align: center;
}
.banner_buttons_block>li {
  display: inline-block;
}
.banner_buttons_block>li:first-child {
  margin-right: 10%;
}
.banner_button {
  display: block;
  vertical-align: middle;
  color: rgb(255, 255, 255);
  font-family: "Comic Sans MS", Arial, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
  min-width: 10em;
  border: 3px solid rgb(137, 222, 0);
  border-radius: 10px;
  padding: 1% 0;
  background-color: rgb(68, 156, 244);
}
.banner_button:hover {
  border-color: rgb(255, 255, 255);
}
.banner_button:active {
  color: rgb(68, 156, 244);
  border-color: rgb(137, 222, 0);
  background-color: rgb(255, 255, 255);
}
.banner_button.second:active {
  color: rgb(255, 255, 255);
  border-color: rgb(137, 222, 0);
  background-color: rgb(137, 222, 0);
}
/*header classes end*/
.services {
  background: #fff;
  padding: 1px;
}
.pricing-table {
  margin: 50px auto;
  width: 892px;
  text-align: center;
}
.pricing-table caption{
  font-size: 2.5em;
  }
.pricing-table .plan {
      background: #fff;
      border: 1px solid #ddd;
      color: #333;
  	text-shadow: 0 1px rgba(255,255,255,.8);
      padding: 20px;
      width: 180px;
  }
