/* total reset*/
html,body,ul,h1,h2 {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:1em;
 }

body {
  font-family: Arial, Helvetica, sans-serif;

}
body {
  color:green;
}
.right_bottom_box {
  color:cyan;
  font-size:1.2em;
}
.right_bottom_box:hover {
color:magenta;
}
