/*page-header classes*/
.page_header {
  height:50vh;
  background-image:url(../images/header-blog.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  white-space: nowrap;
  color: rgb(255, 255, 255);
    }
.banner_text_block {
     position: absolute;
     padding: 1% 2%;
     left: 43%;
     top: 20%;
     white-space: nowrap;
     border-radius: 30px;
     background-color: rgba(0, 0, 0, 0.35);
  }
.banner_text_block>h1{
    font-size: 2.5em;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(15, 140, 255);
    text-align: center;
  }
.banner_text_block>h2{
    font-size:1.5em;
    font-family: "Comic Sans MS", Arial, sans-serif;
    text-shadow: 1px 1px rgb(80, 80, 80);
    text-align: center;
  }
/*main container*/
main {
  max-width: 1200px;
  margin: 2% auto 0;
 }
.column_setup {
  display: inline-block;
  vertical-align: top;
}
.blog_posts_wall {
  width: 70%;
}
/*repeatable blog post block*/
.blog_block {
  margin-top: 2em;
  overflow: auto;
}
.blog_block>ul {
  margin-bottom: 1%;
}
.blog_block>h2 {
  background-color: rgb(220, 220, 220);
  border-radius: 5px;
  margin-bottom: 1%;
  font-size: 1.5em;
  padding: 6px 1em;
}
.post_info_list {
  display: inline-block;
  margin-left: 2%;
}
.post_info_list:first-child {
  margin-left: 0;
}
.post_info_list>img {
  width: 25px;
  vertical-align: bottom;
}
.post_info_list>a,.post_info_list>time {
  color: rgb(39, 134, 238);
  text-decoration: none;
  vertical-align: middle;
}
.post_info_list>a:hover {
  text-decoration: underline;
}
.blog_block>img {
  float: left;
  width: 200px;
  margin-right: 1.5%;
  margin-bottom: 1%;
}
.blog_block>p {
  margin: auto;
}
.blog_button {
  display: inline-block;
  text-decoration: none;
  background-color: rgb(68, 156, 244);
  color: rgb(255, 255, 255);
  width: 5em;
  margin: 1% 0;
  padding: 1px 4px;
  border: 2px solid rgb(68, 156, 244);
  border-radius: 7px;
}
.blog_button:hover {
  color: rgb(68, 156, 244);
  background-color: rgb(255, 255, 255);
}
/*aside column*/
.blog_wall_right_block {
width: 27%;
margin-top: 2em;
}
.blog_wall_right_block h3 {
  text-align: center;
  color: rgb(68, 156, 244);
  font-size: 1.2em;
  margin: 0.2em auto 0.4em;
}
.single_right_block {
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
  margin-bottom: 1em;
  margin-left: 0.5em;
}
.blog_categories li {
  list-style-type: none;
  text-align: center;
  margin-bottom: 1px;
}
.blog_categories a {
  text-decoration: none;
  color: rgb(150, 150, 150);
}
.blog_categories a:hover {
  color: rgb(68, 156, 244);
  text-decoration: underline;
}
/*twitter widget*/
.widget_twitter>h3>i {
  padding-right: 0.4em;
  font-size: 1.5em;
}
.widget_twitter>h3>a {
  vertical-align: text-bottom;
  text-decoration: none;
  color: inherit;
}
.single_tweet {
  margin: 0.5em;
  margin-bottom: 0.8em;
  color: rgb(225, 232, 237);
}
.single_tweet>p {
  color: rgb(0, 0, 0);
}
.tweet_header {
  margin: 0.15em 0.15em;
  overflow: auto;
}
.tweet_header>a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.tweet_header>p {
  color: rgb(150, 150, 150);
  margin: 0;
}
.tweet_header>img {
  margin-right: 0.15em;
  width: 2.5em;
  float: left;
}
.tweet_header>i {
  float: right;
  font-size: 1.3em;
  margin: 0.2em 0.3em 0 0;
}
.tweet_footer>li {
  display: inline-block;
  padding-left: 0.7em;
}
.tweet_footer>li>a {
  color:inherit;
  text-decoration: none;
}
.tweet_footer>li:nth-of-type(1)>a:hover {
  color: rgb(255, 0, 0);
}
.tweet_footer>li:nth-of-type(2)>a:hover {
  color: rgb(2, 191, 72);
}
.tweet_footer>li:last-child {
  float: right;
  margin: 0 0.3em 0.2em 0;
}
.single_tweet:hover {
  background-color: rgba(40, 153, 235, 0.05);
  color: rgb(150, 150, 150);
}
.single_tweet:hover .tweet_header>i {
  color: rgb(68, 156, 244);
}
/*blog headlines*/
.single_headline {
  overflow: auto;
  margin: 0.3em 0.2em 1em;
}
.single_headline>p {
  margin: 0;
}
.single_headline>a>img {
  float: left;
  width: 4em;
  height: 4em;
  margin: 0.2em;
  border: 1px solid rgb(220, 220, 220);
}
.single_headline>p>a {
  display: block;
  text-decoration: none;
  color: inherit;
}
.single_headline>p>a:hover {
  color: rgb(150, 150, 150);
}
/* testing stuff

.bg-block1 {
	background:url(../images/header-index.jpg) repeat left top;
  background-attachment: fixed;
  padding:50px 0 0 30px;
  }

  end of testing stuff */
/*banner text and buttons*/
